@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;


@mixin theme($theme) {

  .upper-components{
    padding-left: 6%;
    padding-right: 6%;
  }

  .first-row{
    display: flex;
    align-items: center;
    vertical-align: baseline;
  }
  .page-title{
    padding-left: 3%;
  }
  .done-button{
    position:absolute;
    right:8%;
    height: 40px;
    width: 102px;
  }

  .second-row{
    display: flex;
    vertical-align: baseline;
  }
  .study-set-title{
    width:49.5%;
    height:50%;
    margin-right: 1%;
  }
  .description{
    width: 49.5%;
    height: 9em;
  }

  .tabs{
    padding-left: 6%;
    padding-right: 6%;
  }

  .flashcards-content{
    display: grid;
    grid-template-columns: auto auto;
  }
  .flashcard-tab-left{
    grid-column-start: 1;
    grid-column-end: 2;
    border-top-left-radius: 12px;
    padding: 12px;
    height: 58vh;
    background-color: mat.get-theme-color($theme,secondary-container);
    border: 2px solid mat.get-theme-color($theme,outline);
    text-align: center;
  }
  .flashcard-tab-right{
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 12px;
    border-top-right-radius: 12px;
    height:58vh;
    background-color: mat.get-theme-color($theme,tertiary-container);
    border: 2px solid mat.get-theme-color($theme,outline);
  }
  .add-button{
    position: fixed;
    bottom:12px;
    right:calc(50% + 16px);
    color:mat.get-theme-color($theme,on-primary);
    background-color: mat.get-theme-color($theme,primary);
    border-radius: 50px;
  }

  .sequence-content{
    display: grid;
    grid-template-columns: auto auto;
  }
  .sequence-tab-left{
    border-top-left-radius: 12px;
    padding: 12px;
    height:58vh;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: mat.get-theme-color($theme,tertiary-container);
    border: 2px solid mat.get-theme-color($theme,outline);
  }
  .sequence-tab-right{
    padding: 12px;
    border-top-right-radius: 12px;
    height:58vh;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: mat.get-theme-color($theme,secondary-container);
    border: 2px solid mat.get-theme-color($theme,outline);
  }

}
