.card-pool {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: var(--padding-large);
  padding-top: var(--padding-medium);
}

.cdk-drag-placeholder {
  opacity: 0;
}

app-sequence-card {
  cursor: move;
}

.back-area {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.relative {
  position: relative;
  width: 100%;
  height: 100%
}
