<div class="relative">
  <div id="pool-items" class="card-pool">
    <div *ngFor="let cards of cardPool; let i=index"
      cdkDropList
      [cdkDropListData]="cards"
      cdkDropListSortingDisabled
      [cdkDropListEnterPredicate]="noReturnPredicate"
      [id]="'pool'+i">
      <app-sequence-card *ngFor="let card of cards"
        cdkDrag
        [flashcard]="card.card"
        (addToSeqEvent)="addToSeq(card)"
      >
      </app-sequence-card>
    </div>
  </div>
  <div cdkDropList
    [cdkDropListData]="tempItems"
    [ngClass]="{'back-area':showBackArea}"
    (cdkDropListDropped)="backdrop($event)"
    >
  </div>
</div>

