<head>
  <title>Homepage</title>
</head>

<body>
  <div class = "recent-container">
    <h1 class = "recent-title">Recent</h1>
    <div class = "recent-carousel">
      <div class = "recent-carousel-items">
        <app-set-preview-card *ngFor="let recentSet of recentSetList"
        [AccessDataIn]="recentSet"></app-set-preview-card>
        <app-set-preview-card *ngFor="let recentSet of recentSetList"
        [AccessDataIn]="recentSet"></app-set-preview-card>
        <app-set-preview-card *ngFor="let recentSet of recentSetList"
        [AccessDataIn]="recentSet"></app-set-preview-card>
      </div>
    </div>
  </div>

  <div class = "user-sets-container">
    <h1 class = "user-sets-title">Your Sets</h1>
    <div class = "user-sets-list">
      <app-user-set-card *ngFor="let userSet of userSetList"
      [AccessDataIn]="userSet"></app-user-set-card>
    </div>
  </div>
</body>
