@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

@mixin theme($theme) {
  .recent-container {
    height: 300px;
    padding-left:32px;
    padding-right: 32px;
    font: mat.get-theme-typography($theme, headline-large);
  }
  .recent-title{
    font: mat.get-theme-typography($theme, headline-medium);
    font-weight: bold;
    line-height: 0em;
  }
  .recent-carousel{
    overflow-x: scroll;
  }
  .recent-carousel-items{
    margin-top: 4px;
    padding-left: 5px;
    list-style-type: none;
    height:252px;
    width:max-content;
  }

  .user-sets-container{
    height: calc(100vh - 405px);
    padding-left:32px;
    padding-right: 32px;
  }
  /* Placeholder Visuals */

  .user-sets-title{
    font: mat.get-theme-typography($theme, headline-medium);
    font-weight: bold;
    line-height: 0em;
  }

  .user-sets-list{
    height: 92%;
    overflow-y: scroll;
    padding-top: 4px;
  }
  .user-sets-card{
    background-color: mat.get-theme-color($theme, surface-container-lowest);
    font: mat.get-theme-typography($theme, headline-small);
    width:99.5%;
    height:67px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    line-height: 1em;
    padding-left: 16px;
    text-align:left;
    vertical-align: center;
    margin-bottom: 12px;
    margin-left: 4px;
  }

  .user-sets-card mat-card-title{
    margin:auto;
    margin-left: 0;
  }

}

