.recent-container {
  position: relative;
}

.section-title {
  font-weight: bold;
}

.recent-carousel {
  margin-top: 4px;
  padding-left: 5px;
  height: 270px;
  width: 100%;
}

.carousel-buttons {
  position: absolute;
  top: calc(50% - 18px);
  transform: translateY(-50%);
  transform: translateX(-45%);
  height: 36px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.carousel-buttons:first-child {
  left:0px;
}
.carousel-buttons:last-child {
  right:0px;
}

.recent-set-empty {
  display: flex;
  flex-direction: column;
  height: 270px;
  flex-basis: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.user-sets-container {
  height: calc(100vh - 395px);
}

.user-sets-list {
  height: 92%;
  overflow-y: scroll;
  padding-top: 4px;
}

.user-set-empty {
  display: flex;
  flex-direction: column;
  height: 80%;
  flex-basis: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.empty-message {
  padding-bottom: 12px;
}

.preview-spacing .study-set-card {
  margin: auto;
}
