@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

@mixin theme($theme) {
  .recent-container {
    height: 300px;
    padding-left:32px;
    padding-right: 32px;
    font: mat.get-theme-typography($theme, headline-large);
  }

  .user-sets-container{
    height: calc(100vh - 405px);
    padding-left:32px;
    padding-right: 32px;
  }
  .recent-title{
    font: mat.get-theme-typography($theme, headline-medium);
    font-weight: bold;
    line-height: 0em;
  }
  .recent-carousel{
    overflow-x: scroll;
  }
  .recent-carousel-items{
    margin-top: 4px;
    padding-left: 5px;
    list-style-type: none;
    height:252px;
    width:max-content;
  }

  /* Placeholder Visuals */
  .study-set-card{
    background-color: mat.get-theme-color($theme, surface-container-lowest);
    float: left;
    font: mat.get-theme-typography($theme, body-medium);
    margin-right: 1em;
    width: 255px;
    height: 247px;
    padding: 12px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  .study-set-description{
    padding-bottom:36px;
  }
  .preview-grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 4px;
  }
  .preview-card{
    background-color: mat.get-theme-color($theme, primary-container);
    font: mat.get-theme-typography($theme, body-large);
    padding: 20px;
    text-align: center;
  }

  .user-sets-title{
    font: mat.get-theme-typography($theme, headline-medium);
    font-weight: bold;
    line-height: 0em;
  }

  .user-sets-list{
    height: 92%;
    overflow-y: scroll;
    padding-top: 4px;
  }

}

