<head>
  <title>Homepage</title>
</head>

<body>
  <div class = "recent-container">
    <h1 class = "recent-title">Recent</h1>

    <div class = "recent-carousel">
      <div class = "recent-carousel-items">
        <!-- Placeholder Visuals -->
        <mat-card class = study-set-card [routerLink]="['/studyFlashcard']">
          <mat-card-title>Set 1</mat-card-title>
          <mat-card-content class = study-set-description>Placeholder Visual</mat-card-content>
          <div class = preview-grid>
            <mat-card class = preview-card>
              <mat-card-title>Card 1</mat-card-title>
            </mat-card>
            <mat-card class = preview-card>
              <mat-card-title>Card 2</mat-card-title>
            </mat-card>
            <mat-card class = preview-card>
              <mat-card-title>Card 3</mat-card-title>
            </mat-card>
            <mat-card class = preview-card>
              <mat-card-title>Card 4</mat-card-title>
            </mat-card>
          </div>
        </mat-card>
        <mat-card class = study-set-card>
          <mat-card-title>Set 2</mat-card-title>
          <mat-card-content>Placeholder Visual</mat-card-content>
        </mat-card>
        <mat-card class = study-set-card>
          <mat-card-title>Set 3</mat-card-title>
          <mat-card-content>Placeholder Visual</mat-card-content>
        </mat-card>
        <mat-card class = study-set-card>
          <mat-card-title>Set 4</mat-card-title>
          <mat-card-content>Placeholder Visual</mat-card-content>
        </mat-card>
        <mat-card class = study-set-card>
          <mat-card-title>Set 5</mat-card-title>
          <mat-card-content>Placeholder Visual</mat-card-content>
        </mat-card>
        <mat-card class = study-set-card>
          <mat-card-title>Set 6</mat-card-title>
          <mat-card-content>Placeholder Visual</mat-card-content>
        </mat-card>
        <mat-card class = study-set-card>
          <mat-card-title>Set 7</mat-card-title>
          <mat-card-content>Placeholder Visual</mat-card-content>
        </mat-card>
        <mat-card class = study-set-card>
          <mat-card-title>Set 8</mat-card-title>
          <mat-card-content>Placeholder Visual</mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div class = "user-sets-container">
    <h1 class = "user-sets-title">Your Sets</h1>
    <div class = "user-sets-list">
      <mat-card class = user-sets-card [routerLink]="['studyFlashcard']">
        <p>Mitosis</p>
      </mat-card>
      <mat-card class = user-sets-card>
        <p>Mafuyu</p>
      </mat-card>
      <mat-card class = user-sets-card>
        <p>Lincoln</p>
      </mat-card>
      <mat-card class = user-sets-card>
        <p>Emmet</p>
      </mat-card>
      <mat-card class = user-sets-card>
        <p>Adam</p>
      </mat-card>
      <mat-card class = user-sets-card>
        <p>Caleb</p>
      </mat-card>
    </div>
  </div>
</body>

