.flashcard-edit {
  text-align: center;
  text-overflow: ellipses;
  max-height: 200px;
  width:98%;
  aspect-ratio: 16/9;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview-row{
  display: flex;
  flex-direction: row;
  gap: 8px;
  min-height: 0;
}

mat-icon {
  align-self: center;
  width: 48px;
}

mat-card-title {
  margin: auto;
}
