@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

@mixin theme($theme) {
  .flashcard-edit{
    width:98%;
    aspect-ratio: 16/9;
    background-color: mat.get-theme-color($theme,primary-container);
    text-align: center;
  }
}

.preview-row{
  display: flex;
  gap: 8px;
}

mat-icon {
  align-self: center;
  width: 48px;
}

