@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

.flashcard-edit {
  text-align: center;
}

.preview-row{
  display: flex;
  flex: 1;
  gap: 8px;
}

mat-icon {
  align-self: center;
  width: 48px;
}

mat-card-title {
  margin: auto;
}

@mixin theme($theme) {
  .card-back{
    font-size: mat.get-theme-typography($theme, body-large, font-size);
  }
}

