/* flashcard.component.scss */
@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

.enlarged-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw; /* Adjusted to a percentage */
  height: 80vh; /* Adjusted to a percentage */
  max-width: 90%; /* Limit maximum width if necessary */
  max-height: 90%; /* Limit maximum height if necessary */
  border-radius: 10px; /* Add border radius to match flashcard */
  padding: 20px; /* Adjust padding to match border */
  box-sizing: border-box; /* Include padding in width and height */
  overflow: auto; /* Enable overflow if content exceeds container size */
}

.enlarged-flashcard {
  width: 100%;
  height: 100%;
  border-radius: 8px; /* Adjust border radius to match flashcard */
}

/* Adjust the position of the close button */
.mat-dialog-content {
  position: relative; /* Ensure the content is positioned relatively */
}

.close-button {
  position: relative; /* Position the button absolutely */
  margin-top: 11px; /* Add margin-top to create space between the flashcard and the button */
  float: right; /* Float the button to the right */
}

@mixin theme($theme){
  .close-button{
    color: mat.get-theme-color($theme, on-primary-container);
  }


}