<form class="search-bar">
  <mat-form-field class="custom-form full-width" [appearance]="'outline'">
    <mat-icon matPrefix>search</mat-icon>
    <input type="text"
      #txt matInput placeholder="Search"
      [formControl]="formControl"
      [matAutocomplete]="auto"
      (input)="updateSuggestions(txt.value)"
      (keydown.enter)="onKeyboardEnter(txt.value, $event)">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onResultSelection($event)">
      @for (option of filteredOptions | async; track filteredOptions) {
        <mat-option [value]="option">{{option}}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>
