@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;


.pool-card {
  width: 500px;
  position: relative;
  margin-left: 100px;
}

.add-to-sequence {
  transform: scale(calc(5 / 3));
  position: absolute;
  top: 123px;
  left: 492px;
}

.enlarge {
  transform: scale(calc(40/24));
  position: absolute;
  bottom: 12px;
  right: 12px;
}

.sequence-card {
  width: calc(30vw * calc(288 / 404));
  height: calc(100vh * calc(116 / 720));
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2), -4px 0 4px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  display: grid;
  grid-template-columns: 8% auto 8%;
  position: relative;
}

.card-term {
  margin: auto;
  grid-column: 2;
}

.remove-from-sequence {
  transform: scale(calc(2 / 3));
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.enlarge-seq-card {
  position: absolute;
  right: 0px;
  bottom: 0px;
}