.add-to-sequence {
  grid-column: 3;
  align-self: center;
}

.enlarge {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.sequence-card {
  width: 300px;
  height: 150px;
  box-shadow: var(--box-shadow);
  border-radius: 12px;
  display: grid;
  grid-template-columns: 8% auto 8%;
  position: relative;
}

.remove-from-sequence {
  transform: scale(calc(2 / 3));
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.pool-container {
  width: var(--seq-card-width);
  height: var(--seq-card-height);
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  position: relative;
  margin: auto;
}

.card-term {
  justify-content: center;
  align-items: center;
  margin: auto 0;
  text-align: center;
  grid-column: 2 / 3;
}

.front {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns:
    calc(var(--mdc-icon-button-state-layer-size)/2)
    auto
    calc(var(--mdc-icon-button-state-layer-size)/2);
  position: absolute;
}
