<div class="sequence-card" *ngIf="inSequence; else poolCard">
  <div class="card-term">
    {{flashcard?.term}}
  </div>
  <button mat-icon-button class="remove-from-sequence" (click)="removeFromSequence(this.flashcard!, $event)">
    <mat-icon>remove</mat-icon>
  </button>
  <button mat-icon-button class="enlarge-seq-card" (click)="flashcard && showBigFlashcard(flashcard)">
    <mat-icon>zoom_out_map</mat-icon>
  </button>
  <app-enlarged-flashcard *ngIf="showEnlargedFlashcard"></app-enlarged-flashcard>
</div>
<ng-template #poolCard class="pool-card">
  <app-flashcard [scaleFactor]="scaleFactor" [flashcard]="flashcard!">
    <ng-template #addOns>
      <button mat-icon-button class="add-to-sequence" (click)="addToSequence(this.flashcard!, $event)">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button class="enlarge" (click)="flashcard && showBigFlashcard(flashcard)">
        <mat-icon>zoom_out_map</mat-icon>
      </button>
    </ng-template>
  </app-flashcard>
</ng-template>

