@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;


@mixin theme($theme) {
    .container {
        display: flex;
        width: 100%;
        height: 56px;
        background-color: mat.get-theme-color($theme, surface-container-lowest);
    }

    .ponder-name {
        float: left;
        margin: 8px;
        margin-left: 32px;
        font: mat.get-theme-typography($theme, headline-large);
        color: mat.get-theme-color($theme, primary);
        text-decoration: none;
    }

    nav {
        float: right;
    }

    nav ul {
        width: fit-content;
        margin-top: 8px;
        margin-bottom: 8px;
        margin-right: 32px;
        padding: 0px;
        white-space: nowrap;
    }

    nav li {
        display: inline-block;
        margin-left: 12px;
    }

    .circle-button {
        width: 40px;
        height: 40px;
        background-color: mat.get-theme-color($theme, primary);
        color: mat.get-theme-color($theme, on-primary);
    }

    .symbol {
        position: relative;
        top: 2px;
    }
}
