<header>
    <div class="container">
        <a class="ponder-name">Ponder</a>
        
        <nav>
            <ul>
                <li><button mat-icon-button aria-label="Create Set Button with a plus icon" class="create-button">
                    <mat-icon>add</mat-icon>
                </button></li>
                <li><button mat-icon-button aria-label="Logout Button with a exit door icon" class="logout-button">
                    <mat-icon>logout</mat-icon>
                </button></li>
            </ul>
        </nav> 

        <div class="search-bar">
            <mat-icon class="eye-glass-icon">search</mat-icon>
            <mat-form-field class = "search-text-box">
                <input type="search" matInput placeholder="Search for Study Sets">
            </mat-form-field>
        </div>
     
    </div>    
</header>
