<header>
  <div class="container" *ngIf="signedIn; else elseBlock">
    <a class="ponder-name" routerLink="home-page">Ponder</a>

    <div class="search-bar">
      put search bar component here
    </div>

    <nav>
      <ul>
        <li><button mat-icon-button aria-label="Create Set Button with a plus icon" class="circle-button" [routerLink]="['edit-set']">
          <mat-icon class="symbol">add</mat-icon>
        </button></li>
        <li><button mat-icon-button aria-label="Logout Button with a exit door icon" class="circle-button" (click)="signOut()">
          <mat-icon class="symbol">logout</mat-icon>
        </button></li>
      </ul>
    </nav>
  </div>
  <ng-template #elseBlock>
    <div class="container">
      <h1 class="ponder-name">Ponder</h1>
    </div>
  </ng-template>
</header>
