<header>
    <div class="container">
        <a class="ponder-name">Ponder</a>
        
        <div class="search-bar">
            put search bar component here
        </div>
        
        <nav>
            <ul>
                <li><button mat-icon-button aria-label="Create Set Button with a plus icon" class="create-button">
                    <mat-icon class="add-symbol">add</mat-icon>
                </button></li>
                <li><button mat-icon-button aria-label="Logout Button with a exit door icon" class="logout-button">
                    <mat-icon class="logout-symbol">logout</mat-icon>
                </button></li>
            </ul>
        </nav> 
    </div>    
</header>