<mat-card class="study-set-card" [routerLink]="['/viewStudySet']">
  <mat-card-title class="study-set-title">{{studySet.title}}</mat-card-title>
  <div class="study-set-badge-row">
    <div class="study-set-badge">
       {{studySet.flashcards.length}} Terms
    </div>
    <div class="study-set-badge">
      {{studySet.sequences.length}} Sequences
    </div>
  </div>
  <mat-card-content class="study-set-description">{{studySet.description}}</mat-card-content>
  <div class="preview-grid">
    <mat-card>
      <mat-card-title>{{studySet.flashcards.at(0)?.term}}</mat-card-title>
    </mat-card >
    <mat-card>
      <mat-card-title>{{studySet.flashcards.at(1)?.term}}</mat-card-title>
    </mat-card>
    <mat-card>
      <mat-card-title>{{studySet.flashcards.at(2)?.term}}</mat-card-title>
    </mat-card>
    <mat-card>
      <mat-card-title>{{studySet.flashcards.at(3)?.term}}</mat-card-title>
    </mat-card>
  </div>
</mat-card>

