.study-set-card{
  width: var(--preview-width);
  height: 248px;
  padding: 12px;
  cursor: pointer;
  margin: auto;

  display:grid;
  grid-template-rows: 9% 11% 15% 60%;
  grid-template-columns: 100%;
  grid-gap:4px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.study-set-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: clip;
  height: 100%;
  width: 100%;
  line-height: 1em;
  font-weight: bold;
}

.study-set-badge-row {
  width:100%;
  height: 100%;
}
.study-set-badge {
  width:fit-content;
  float: left;
  margin-left:8px;
  border-radius: 8px;
  padding: 4px ;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.hidden-badge{
  visibility: hidden;
}

.study-set-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height:normal;
  height:100%;
  width: calc(100% - 16px);
  text-overflow: ellipsis;
  overflow: clip;
  padding-right: 0;
  padding-left: 4px;
}

.preview-grid {
  width:100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  align-items: center;
  justify-items: center;
}
.preview-grid mat-card {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  text-align: center;
}
.preview-grid mat-card-title {
  display:-webkit-box;
  line-height: 1.2em;
  padding: 4px;
  margin:auto;
  word-break: break-word;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
