<div cdkDropList cdkScrollable id="sequence-items"
  (cdkDropListDropped)="directDrop($event)"
  [cdkDropListData]="userSequence"
  [cdkDropListOrientation]="'vertical'"
  [cdkDropListAutoScrollStep]="10">
  @for (item of userSequence; track userSequence; let i = $index) {
    <div class="sequence-entry">
      <div class="drag-area" cdkDrag
        (mousedown)="onMouseDown($event)"
        (mouseup)="onMouseUp($event)"
        (cdkDragStarted)="onDragResultStarted($event)"
        (cdkDragReleased)="onDragResultReleased($event)">
        <app-sequence-card [flashcard]="item.card"
          [inSequence]="true"
          (removeFromSeqEvent)="removeFromSeq(item)">
        </app-sequence-card>
        <mat-icon aria-hidden="false" aria-label="Menu">menu</mat-icon>
      </div>
    </div>
  }
  <div *ngIf="isEmpty()" class="empty-square"></div>
</div>
