.sequence-entry {
  display: grid;
  padding-top: 8px;
  padding-bottom: 8px;
  place-items: center;
  padding-left: 40px;
}

.drag-area {
  display: flex;
  align-items: center;
  //width: 100%;
  cursor: move;
}

h1 {
  padding-right: 16px;
}

mat-icon{
  padding-left: 16px;
}

#sequence-items {
  height: 100%;
}

.cdk-drag-placeholder {
  opacity: 0;
  display: grid;
  padding-top: 8px;
  padding-bottom: 8px;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
