.sequence-entry {
  display: grid;
  padding-top: var(--padding-medium);
  place-items: center;
  padding-left: 40px;
}

.drag-area {
  display: flex;
  align-items: center;
  cursor: move;
}

h1 {
  padding-right: 16px;
}

mat-icon{
  padding-left: 16px;
}

#sequence-items {
  position: relative;
  height: 100%;
  padding-bottom: var(--padding-medium);
}

.cdk-drag-placeholder {
  opacity: 0;
  display: grid;
  padding-top: 8px;
  padding-bottom: 8px;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.empty-square{
  width: calc(30vw * calc(288 / 404)); //Width taken from sequence-card.component.scss
  height: calc(100vh * calc(116 / 720)); //Height taken from sequence-card.component.scss
  border-radius: 12px;
  margin: var(--margin-medium) auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
