<!-- flashcard.component.html -->
<div class="flashcard" [class.flipped]="isFlipped" (click)="flipCard()"> 
    <div class="front">
      <div class = "arrow">
        <mat-icon aria-hidden="false" aria-label="Flip icon" fontIcon="autorenew"></mat-icon> 
      </div>
      <div class = "content">
        <p>{{ frontText }}</p>
      </div>
    </div>
    <div class="back">
      <div class = "arrow">
        <mat-icon aria-hidden="false" aria-label="Flip icon" fontIcon="autorenew"></mat-icon> 
      </div>
      <div class = "content">
        <p>{{ backText }}</p>
      </div>
    </div>
  </div>
