<!-- flashcard.component.html -->
<div class="flashcard-container" [style.height.px]="height" [style.width.px]="width">
  <div class="flashcard-scaler" [style.scale]="scaleFactor">
    <div class="flashcard" [class.flipped]="isFlipped" (click)="flipCard()">
      <div class="front">
        <mat-icon aria-hidden="false" aria-label="Flip icon" fontIcon="autorenew" class="arrow"></mat-icon>
        <div class = "front-content">
          {{ flashcard.term }}
        </div>
        <ng-template [ngTemplateOutlet]="addOns"></ng-template>
      </div>
      <div class="back">
        <mat-icon aria-hidden="false" aria-label="Flip icon" fontIcon="autorenew" class="arrow"></mat-icon>
        <div class = "back-content">
          {{ flashcard.definition }}
        </div>
        <ng-template [ngTemplateOutlet]="addOns"></ng-template>
      </div>
    </div>
  </div>
</div>
