.card-space{
  border-style: dashed;
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: auto auto auto;
  position: relative; /*the buttons will be placed relative to the card due to this line*/
}

.back-to-view{
  border-style: dotted;
  height: 44px;
}

.flashcard-study {
  grid-column: 2;
  margin: auto;
}

.arrow-button-previous {
  left: 120px; /* Adjust the left position of the "Previous" button */
}

.arrow-button-next {
  right: 120px; /* Adjust the right position of the "Next" button */
}
