<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Study Flashcards</title>
    <!-- Not sure if we need to do this stylesheet link-->
  <link rel="stylesheet" href="study-flashcard.component.scss">
</head>
<body>
  <div class="container">
    <div class="card">
      <div class ="card-content">
        <div class="card-front">
          <h2>Front of Card</h2>
        </div>
        <div class="card-back">
          <h2>Back of Card</h2>
        </div>
      </div>
    </div>
    <button class="flipButton">Flip front/back</button>
  </div>

  <!-- Not sure if we need to do this script tag-->
  <script src="study-flashcard.component.ts"></script>
</body>
</html>
