<div class="container">
  <div class="back-to-view">
    <app-return-ribbon [setId]="studySet?.id"></app-return-ribbon>
  </div>
  <div id="card-pool">
    <app-card-pool [cardPool]="cardPool"
      [visUpdates]="visUpdates.asObservable()"
      (addToSeqEvent)="addToSeq($event)"
      (removeFromSeqEvent)="removeFromSequence($event)">
    </app-card-pool>
  </div>
  <div class="sequence-select">
    <button class="select-title"mat-flat-button [matMenuTriggerFor]="menu">
      {{selectedSeq.name}} <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu" yPosition="below">
      <div *ngFor ="let seq of this.studySet?.sequences">
        <button class="menu-option"  mat-menu-item (click)="changeSelectedSequence(seq)">{{seq.name}}</button>
      </div>
    </mat-menu>
  </div>
  <div class="sequence-builder">
    <div class="cards-in-sequence" cdkScrollable>
      <app-sequence-sidebar [userSequence]="userSeq"
        (removeFromSeqEvent)="removeFromSequence($event)"
        (addToSeqEvent)="addToSeq($event)"
        (updateVisibilityEvent)="updateCardPoolVisibility($event)">
      </app-sequence-sidebar>
    </div>
    <div class="check-show-answer">
        <button class="button-color" mat-flat-button (click)="checkAnswer()">
          Check
        </button>
          <button class="button-color"mat-flat-button (click)="showAnswer()">
            Show Answer
          </button>
        <button class="button-color" mat-flat-button (click)="clearSequence()">
          Clear
          <mat-icon>delete_forever</mat-icon>
        </button>
    </div>
  </div>
</div>
