<div class="container">
  <div class="back-to-view">
    <app-return-ribbon></app-return-ribbon>
  </div>
  <div id="card-pool">
    <app-card-pool [cardPool]="cardPool"
      [visUpdates]="visUpdates.asObservable()"
      (addToSeqEvent)="addToSeq($event)">
    </app-card-pool>
  </div>
  <div class="sequence-select">
    <h2>Sequence select</h2>
  </div>
  <div class="sequence-builder">
    <div class="cards-in-sequence">
      <h2>Cards in Sequence</h2>
      <app-sequence-sidebar [userSequence]="userSeq"
        (removeFromSeqEvent)="removeFromSequence($event)">
      </app-sequence-sidebar>
    </div>
    <div class="check-show-answer">
        <h2>Check/showAnswer</h2>
    </div>
  </div>
</div>
