.back-to-view {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-end: 2;
}

.container {
  display: grid;
  grid-template-columns: auto auto var(--seq-sidebar-width);
  grid-template-rows: 72px auto;
  height: calc(100vh - var(--common-height));
  overflow-x: auto;
}

.sequence-builder {
  grid-column-start: 3;
  grid-column-end: 4;
  display: grid;
  grid-template-rows: auto var(--common-height);
  overflow: hidden;
  border-left: 1px solid black;
}

.sequence-select {
  text-align: center;
  grid-column-start: 3;
  grid-row-start: 1;
  display: flex;
  justify-content: center;
  padding: var(--padding-small);
  border-left: 1px solid black;
}

.select-title {
  border-radius: 12px;
  width: var(--seq-card-width);
  height: var(--common-height);
}

::ng-deep {.mat-mdc-menu-panel.override-width {
  width: var(--seq-card-width);
  max-width: unset;
}}

.menu-option {
  text-align: center !important;
}

.cards-in-sequence {
  max-width: 100% !important;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: center;
}

.check-show-answer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

#card-pool {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  grid-column-start: 1;
  grid-column-end: 3;
  min-width: calc(var(--seq-card-width) + var(--margin-extra-large));
}
