<div class="container">
  <div class="back-to-view">
    <app-return-ribbon></app-return-ribbon>
  </div>
  <div class="card-pool">
    <h2>Card pool</h2>
    <app-sequence-card></app-sequence-card>
    <app-sequence-card></app-sequence-card>
  </div>
  <div class="sequence-select">
    <button class="select-title"mat-flat-button [matMenuTriggerFor]="menu">
    {{sequenceTitle}} <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu" yPosition="below">
      <div *ngFor ="let name of sequenceName">
        <button class="menu-option"  mat-menu-item (click)="changeName(name)">{{name}}</button>
      </div>
    </mat-menu>
  </div>
  <div class="sequence-builder">
    <div class="cards-in-sequence">
        <h2>Cards in Sequence</h2>
    </div>
    <div class="check-show-answer">
        <h2>Check/showAnswer</h2>
    </div>
  </div>
</div>
