.back-to-view {
    outline: 1px dashed black;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-end: 2;
}

.container {
    display: grid;
    //Makes a grid with 3 columns
    grid-template-columns: auto auto 30%;
    grid-template-rows: 72px auto;
    height: calc(100vh - 56px);
}

.sequence-builder {
    outline: 1px dashed magenta;
    grid-column-start: 3;
    grid-column-end: 4;
    display: grid;
    grid-template-rows: auto auto auto;
}

.sequence-select {
    outline: 1px dashed green;
    text-align: center;
    grid-column-start: 3;
    grid-row-start: 1;
}

.cards-in-sequence {
    outline: 1px dashed purple;
    height: calc(100vh - 200px);
    text-align: center;
}

.check-show-answer {
    outline: 1px dashed yellow;
    text-align: center;
}

#card-pool {
  width: 100%;
  overflow-y: scroll;
  grid-column-start: 1;
  grid-column-end: 3;
}
