@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

@mixin theme($theme) {
  .view-header {
    margin: auto;
    width: 90.625%;
    padding-left: 44px;
    padding-right: 44px;
  }

  #title-header{
    display: flex;
    flex-direction: row;
    font: mat.get-theme-typography($theme, headline-large);
    padding-top: 16px;
  }

  .view-button {
    color:mat.get-theme-color($theme,primary);
    margin-left: 16px;
  }

  .description{
    font: mat.get-theme-typography($theme, body-medium);
  }
}
