<div class = "view-header">
  <div class="title">
    <h1>Layers of OSI network Model</h1>
    <button mat-flat-button class = "edit-button" [routerLink]="['/editCreateSet']">
      <mat-icon>mode_edit</mat-icon>
      Edit
    </button>
  </div>
  <p>description</p>
</div>
<div class="tabs">
  <mat-tab-group>
    <mat-tab label="Flashcard">
      <div class="content">
        <h2>Flashcard Content</h2>
      </div>
    </mat-tab>
    <mat-tab label="Sequence">
      <div class="content">
        <div class="sequence-list">
          <h2>Sequence List</h2>
        </div>
        <div class = sequence>
          <h2>Sequence Content</h2>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
