<div id="title-header" class="view-header">
  <h1>{{studySet.title}}</h1>
  <button mat-flat-button class="view-button button" [routerLink]="['/edit-set']" [queryParams]="{sid: 'aaaa'}">
    <mat-icon>mode_edit</mat-icon>
    Edit
  </button>
  <app-studybuttonmenu class="study-button"></app-studybuttonmenu>
  <button mat-flat-button class="view-button button" (click)="shareSet()">
    <mat-icon>share</mat-icon>
    Share
  </button>
</div>
<div id="scroll-container">
  <div class="view-header">
    <p id="description">{{studySet.description}}</p>
  </div>
  <div class="tabs">
    <app-tabs class="app-tabs">
      <app-tab-item>
        <app-tab-label>Flashcards ({{studySet.flashcards.length}})</app-tab-label>
        <div>
          <app-tab-body id="flashcard-content">
            @for (flashcard of studySet!.flashcards; track studySet) {
              <app-view-fc-card [flashcard]="flashcard"></app-view-fc-card>
            }
          </app-tab-body>
        </div>
      </app-tab-item>
      <app-tab-item>
        <app-tab-label>Sequences ({{studySet.sequences.length}})</app-tab-label>
        <app-tab-body>
          <div class="content">
            <div class="sequence-list">
              <h2>Sequence List</h2>
            </div>
            <div class="sequence">
              <h2>Sequence Content</h2>
            </div>
          </div>
        </app-tab-body>
      </app-tab-item>
    </app-tabs>
  </div>
</div>
