@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

@mixin theme($theme) {
    .title{
        font: mat.get-theme-typography($theme, headline-large);
    }
    
    .description{
        font: mat.get-theme-typography($theme, body-medium);
    }

    .tabs {
        display: flex;
        width: 1152px;
        height: 48px;
         justify-content: center;
         align-items: center;
    }
}