<section class="tabs">
    <mat-tab-group>
        <section class="tab1">
          <mat-tab label="First"> Content 1 </mat-tab>
        </section>
          <section class="tab2">
            <mat-tab label="Second"> Content 2 </mat-tab>
          </section>
        </mat-tab-group>
</section>
    <section class="containers">
        <mat-card>
            <section class="column1">
            <mat-card-header>Flash Card</mat-card-header>
              <!-- <mat-card-content>Simple card flash</mat-card-content> -->
            </section>
            </mat-card>
          
            <section class="column2">
            <mat-card>
              <mat-card-header>Sequence</mat-card-header>
                <!-- <mat-card-content>Simple card sequence</mat-card-content> -->
              </mat-card>
            </section>
    </section>
<!-- <section class="testing">
    <ng-content></ng-content> weheehoo
</section> -->