.tabs {
  padding-left: 72px;
  padding-right: 72px;
  margin: auto;
}

.content {
  display: flex;
  width: 100%;
  height: calc(100vh - 196px);
}

.sequence {
  outline: 1px dashed black;
  width: 100%;
}

#flashcard-content {
  height: 100%;
  margin-bottom: 140px;
}

app-view-fc-card {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.study-button {
  align-self: center;
  margin-left: auto;
}

#scroll-container {
  overflow-y: scroll;
}
