<div id="image-banner">
  <h2 mat-dialog-title>Upload Image</h2>
  <button id="close" mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content *ngIf="this.flashcard.hasImage()">
  <img class="preview-image" src={{this.imageData}}>
</mat-dialog-content>
<mat-dialog-actions>
  <input id="selected-image" #selectedImage type="file" *ngIf="flashcard.definition.length <= 72; else stopMessage"(change)="uploadImage(selectedImage)">
  <ng-template #stopMessage>
    <p id="stop-message">Sorry. You cannot add image unless your definition is less than 72 characters.</p>
  </ng-template>
  <button mat-icon-button *ngIf="flashcard.hasImage()" (click)="removeImage()">
    <mat-icon>delete-outline</mat-icon>
  </button>
</mat-dialog-actions>
