@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

@mixin theme($theme) {
  .user-sets-card{
    display: grid;
    grid-template-columns: min-content min-content min-content auto min-content;
    background-color: mat.get-theme-color($theme, surface-container-lowest);
    width:99.5%;
    height:67px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    margin-bottom: 12px;
    margin-left: 4px;
  }

  .user-sets-card mat-card-title{
    font: mat.get-theme-typography($theme, headline-small);
    line-height: 1em;
    text-wrap:nowrap;
  }

  .study-set-badge{
    width:fit-content;
    float: left;
    margin-left:12px;
    border-radius: 8px;
    font: mat.get-theme-typography($theme, label-medium);
    font-weight: bold;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    height: fit-content;
    background-color: mat.get-theme-color($theme, secondary-container);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-wrap: nowrap;
  }

  .viewed-date-label{
    justify-self: right;
    text-align: right;
    padding-right: 12px;
  }
  .viewed-date{
    width: 4em;
  }
}
