@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

@mixin theme($theme) {
  .sequence-tab-left{
    grid-column-start: 1;
    grid-column-end: 2;
    border-top-left-radius: 12px;
    height: auto;
    border: 2px solid mat.get-theme-color($theme,outline);
    border-right: 1px solid mat.get-theme-color($theme,outline);
    border-bottom: 0;
    font:mat.get-theme-typography($theme, body-large);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 60%;
  }

  .sequence-card-list{
    border-top-left-radius: 12px;
    border-right: 1px solid mat.get-theme-color($theme,outline);
    overflow: auto;
  }

  .card-search-bar{
    font:mat.get-theme-typography($theme, body-small);
    padding:4px;
    color: mat.get-theme-color($theme,on-surface-variant);
    border: 1px solid mat.get-theme-color($theme,outline);
    border-radius: 50px;
    background-color: mat.get-theme-color($theme,secondary-container);
    width: 80%;
    margin: auto;
    margin-bottom: 4px;
    padding-left: 8px;
  }

  .card-list li{
    font: mat.get-theme-typography($theme, label-large);
    font-weight: bold;
  }
  .sequence-sequence-list{
    border-left: 1px solid mat.get-theme-color($theme,outline);
    display: flex;
    flex-flow: column;
  }
  .sequence-card-preview{
    grid-column-start: 1;
    grid-column-end: 3;
    border-top: 2px solid mat.get-theme-color($theme,outline);
  }

  .flashcard-sequence{
    height:67%;
    aspect-ratio: 16 9;
    background-color: mat.get-theme-color($theme,primary-container);
    margin: auto;
  }

  .sequence-tab-right{
    grid-column-start: 2;
    grid-column-end: 3;
    padding-left: 16px;
    padding-right: 16px;
    border-top-right-radius: 12px;
    height:auto;
    border: 2px solid mat.get-theme-color($theme,outline);
    border-left: 1px solid mat.get-theme-color($theme,outline);
    font:mat.get-theme-typography($theme, title-medium);
    display: grid;
    grid-template-columns: 2% 46% 46% 2%;
    grid-auto-rows: max-content;
    grid-gap: 1%;
  }

  .flashcard-container{
    margin: auto;

  }
}
@mixin editor-theme($theme) {
  .selected-list-item {
    background-color: mat.get-theme-color($theme, secondary-container);
  }
}
