<div class = "sequence-content">
  <div class="sequence-tab-left">
    <div class="sequence-card-list">
      <h3 class="sequence-section-title">All Cards</h3>
      <div class="card-search-bar">Search for a card here...</div>
      <ol class="card-list">
        <li>Card 1</li>
        <li>Card 2</li>
        <li>Card 3</li>
        <li>Card 4</li>
        <li>Card 5</li>
        <li>Card 6</li>
        <li>Card 7</li>
        <li>Card 8</li>
        <li>Card 9</li>
      </ol>
    </div>
    <div class="sequence-sequence-list">
      <h3 class="sequence-section-title">Sequences</h3>
      <ol class="card-list">
        @for( item of sequences; track sequences){
          {{item.name}}
        }
      </ol>
      <button mat-icon-button aria-label="add to sequence" class="circle-button" (click)="addNewItem(_sequences)">
        <mat-icon class="symbol">add</mat-icon>
      </button>
    </div>
    <div class="sequence-card-preview">
      <h3 class="sequence-section-title">Card Preview</h3>
      <div class="flashcard-container">
        <app-flashcard [scaleFactor]="cardScaleFactor"></app-flashcard>
      </div>
      <button mat-flat-button class="add-sequence-button" (click)="addToSequence($event)">Add to Sequence</button>
    </div>
  </div>

  <div class="sequence-tab-right">
    <h3 class="sequence-section-title title-right">Sequence name 1</h3>
    1.
    <mat-card class="flashcard-edit">
      <mat-card-title class="flashcard-edit-title">Term</mat-card-title>
    </mat-card>
    <mat-card class="flashcard-edit">
      <mat-card-title class="flashcard-edit-title">Definition</mat-card-title>
    </mat-card>
    <mat-icon class="move-icon">menu</mat-icon>
  </div>
</div>
