.circle-button {
  align-self: flex-end;
  transform: scale(0.75);
  right: 16px;
}
.enlarge {
  transform: scale(0.75);
}
.sequence-menu-item{
  display: flex;
}
.delete-button{
  align-self: flex-end;
}
.sequence-name-box{
  flex-grow: 1;
  align-self: center;
}