<div class = "sequence-content">
  <div class="sequence-tab-left">
    <div class="sequence-card-list">
      <h3 class="sequence-section-title">All Cards</h3>
      <div class="card-search-bar">Search for a card here...</div>
      <ol class="card-list">
        @for( flashcard of _flashcards; track _flashcards){
          <li class="flashcard-menu-item" [ngClass] = "{'selected-list-item': flashcard == selectedFlashcard }" (click)="onPreviewSelectFlashcard(flashcard)">
            {{flashcard.term}}
          </li>
        }
      </ol>
    </div>
    <div class="sequence-sequence-list">
      <h3 class="sequence-section-title">Sequences</h3>
      <ol class="card-list">
        @for( item of _sequences; track _sequences){
          <li class="sequence-menu-item" [ngClass] = "{'selected-list-item': item == selectedSequence }" (click)="onPreviewSelectSeq(item)">
            <div class = "sequence-name-box">{{item.name}}</div>
            <button class="trash-can" mat-icon-button *ngIf="this.selectedSequence==item" (click)="removeSequence(this.selectedSequence, $event)">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </li>
      }
      </ol>
      <button mat-icon-button aria-label="add sequence" class="circle-button" (click)="addSequence()">
        <mat-icon class="symbol">add</mat-icon>
      </button>

    </div>
    <div class="sequence-card-preview">
      <h3 class="sequence-section-title">Card Preview</h3>
      <div class="flashcard-container">
        <app-flashcard [scaleFactor]="cardScaleFactor" [flashcard]="selectedFlashcard"></app-flashcard>
      </div>
      <button mat-flat-button class="add-to-sequence-button" (click)="addToSequence(selectedFlashcard)">Add to Sequence</button>
    </div>
  </div>

  <div class="sequence-tab-right" cd>
    <h3 class="sequence-section-title title-right">{{selectedSequence.name}}</h3>
    <div cdkDropList class="prev-card-list" (cdkDropListDropped)="drop($event)" [cdkDropListAutoScrollStep]="10">
      @for (flashcard of selectedSequence.cardList; track selectedSequence.cardList; let i = $index) {
        <div class="list-item">
          {{i + 1}}.
          <div cdkDrag>
            <ec-card-preview [flashcard]="flashcard"></ec-card-preview>
            <button mat-icon-button class="remove-button" (click)="removeFromSequence(i)">
              <mat-icon>remove</mat-icon>
            </button>
          </div>
        </div>
      }
    </div>
  </div>
</div>
