.tabs {
  padding-left: 6%;
  padding-right: 6%;
}

.sequence-content {
  display: grid;
  grid-template-columns: 50% 50%;
  height: calc(100vh - 312px);
}

.sequence-section-title {
  line-height: 0em;
  text-align: center;
}

.sequence-name-input {
  width: calc(100% - 32px);
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
}

.card-list {
  list-style-type: none;
  padding-left: 0px;
  margin:0;
  overflow-y: auto;
  flex-grow:1;
}

.add-to-sequence-button {
  margin-top: 8px;
  margin-bottom: 16px;
  align-self: center;
}

.title-right {
  grid-column-start: 1;
  grid-column-end: 5;
}

.circle-button {
  align-self: flex-end;
  transform: scale(0.75);
  right: 16px;
}

.remove-button {
  position: absolute;
  transform: scale(0.75);
  bottom: 4px;
}

.trash-can {
  transform: scale(0.75);
}

.sequence-menu-item {
  display: flex;
  height: 36px;
}

.sequence-name-box {
  padding-left: 8px;
  flex-grow: 1;
  align-self: center;
}

.delete-button {
  align-self: flex-end;
}

.flashcard-menu-item {
  display: flex;
  padding-left: 8px;
  align-items: center;
  height: 36px;
}

.prev-card-list {
  overflow: auto;
  height: calc(100% - 92px);
}

.list-item {
  padding-top: var(--padding-extra-small);
  padding-bottom: var(--padding-extra-small);
  padding-left: var(--padding-small);
  padding-right: var(--padding-small);
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 8px;
  position: relative;
}

.sequence-preview {
  height: 100%;
}

#searchbar {
  border: 1px solid
}