@use '@angular/material' as mat;

@mixin theme($theme) {
  .view-card {
    background-color: mat.get-theme-color($theme,primary-container);
    height: calc(mat.get-theme-typography($theme, body-large, line-height)*3 + 2*var(--padding-medium));
  }

  #card-front {
    text-align: center;
    font: mat.get-theme-typography($theme, headline-small);
    margin: auto;
  }

  #card-back {
    font: mat.get-theme-typography($theme, body-large);
  }
}
