.card-row {
  display: inline-grid;
  grid-template-columns: 2fr 7fr;
  gap: 12px;
  padding-bottom: 12px;
  max-width: 1400px;
  width: calc(100% - 24px);
  margin: auto;
}

.view-card {
  display: flex;
  flex-direction: row;
  min-width: 136px;
}

.flashcard-image {
  height: 100%;
  object-fit: contain;
  padding-left: 2px;
}

#card-back {
  text-align: left;
  margin-right: auto;
  padding-left: 2px;
  padding-right: 2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
}

#card-front {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
}
