// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use 'app/app-theme' as app;
@use 'assets/styles/theme.light';
@use 'mixin-module' as mix;
@use 'assets/styles/variables';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
$Ponder-warn: mat.define-palette(mat.$red-palette);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
$theme: theme.$ponder-light-theme;

html {
  @include mat.core-theme($theme);
  @include mat.all-component-themes($theme);
  @include app.theme($theme);
  @include mix.theme-button($theme);
  @include mix.theme-view-button($theme);
}
app-sequence-sidebar {
  @include mix.sequence-sidebar-theme($theme);
}
ec-card-preview {
  @include mix.ec-card-theme($theme);
}
app-return-ribbon {
  @include mix.return-ribbon-theme($theme);
}
app-sequence-card {
  @include mix.seq-card-theme($theme);
}
app-navbar {
  @include mix.navbar-theme($theme);
}
app-view-study-set {
  @include mix.view-set-theme($theme);
}
app-tabs {
  @include mix.tabs-theme($theme);
}
app-flashcard-editor {
  @include mix.card-edit-theme($theme);
  @include mix.card-edit-editor-theme($theme);
}
app-sequence-editor {
  @include mix.card-edit-editor-theme($theme);
  @include mix.sequence-edit-editor-theme($theme);
  @include mix.sequence-edit-theme($theme);
}
app-homepage{
  @include mix.homepage-theme($theme);
}
app-set-preview-card{
  @include mix.set-preview-card-theme($theme);
}
app-user-set-card{
  @include mix.user-set-card-theme($theme);
}
app-view-fc-card {
  @include mix.view-card-theme($theme);
}
app-study-sequence {
  @include mix.study-sequence-theme($theme);
}
app-study-flashcard {
  @include mix.study-flashcard-theme($theme);
}
app-flashcard {
  @include mix.flashcard-theme($theme);
}
app-top-search-bar {
  @include mix.top-search-bar-theme($theme);
}
html, body { height: 100%; }
body {
  margin: 0;
  background-color: mat.get-theme-color(theme.$ponder-light-theme, background);
  overflow-y: hidden;
}
h1 {
  font: mat.get-theme-typography(theme.$ponder-light-theme, headline-large);
  margin-top: 8px;
  margin-bottom: 8px;
}
p {
  font: mat.get-theme-typography(theme.$ponder-light-theme, body-medium);
}
