// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use 'assets/styles/colors';
@use 'assets/styles/theme.light';
@use 'assets/styles/padding';
@use 'app/app-theme' as app;
@use 'app/navbar/navbar.component';
@use 'app/edit-create-study-set/edit-create-study-set-theme' as ec-study;
@use 'app/custom-tabs/custom-tabs-theme' as custom-tabs;
@use 'app/homepage/homepage-theme' as homepage;
@use 'app/view-study-set/view-study-set-theme' as view-set;
@use 'app/flashcard/flashcard.component';
@use 'app/sequence-card/sequence-card-theme' as seq-card;
@use 'app/studybuttonmenu/studybuttonmenu.component';
@use 'app/return-ribbon/return-ribbon.component';
@use 'app/flashcard-editor/flashcard-editor-theme' as card-editor;
@use 'app/set-preview-card/set-preview-card-theme' as set-preview-card;
@use 'app/user-set-card/user-set-card-theme' as user-set;
@use 'app/sequence-editor/sequence-editor-theme' as sequence-editor;
@use 'app/ec-card-preview/ec-card-preview-theme' as ec-card;
@use 'app/view-fc-card/view-fc-card-theme' as view-card;
@use 'app/sequence-sidebar/sequence-sidebar-theme' as sequence-sidebar;
@use 'app/study-flashcard/study-flashcard-theme' as study-flashcard;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
$Ponder-warn: mat.define-palette(mat.$red-palette);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

$theme: theme.$ponder-light-theme;

html {
  // this is sets all default Material Components to our color palette
  @include mat.core-theme($theme);
  @include mat.all-component-themes($theme);

  // this sets our theme to our custom component designs
  @include app.theme($theme);
  @include navbar.theme($theme);
  @include ec-study.theme($theme);
  @include flashcard.theme($theme);
  @include seq-card.theme($theme);
  @include return-ribbon.theme($theme);
  @include card-editor.theme($theme);
  @include sequence-editor.theme($theme);
  @include ec-card.theme($theme);
  @include sequence-sidebar.theme($theme)
}
app-view-study-set {
  @include view-set.theme($theme);
}
app-tabs {
  @include custom-tabs.theme($theme);
}
app-flashcard-editor {
  @include card-editor.editor-theme($theme);
}
app-sequence-editor{
  @include card-editor.editor-theme($theme);
  @include sequence-editor.editor-theme($theme);
}
app-homepage{
  @include homepage.homepage-theme($theme);
}
app-set-preview-card{
  @include set-preview-card.set-preview-card-theme($theme);
}
app-user-set-card{
  @include user-set.user-set-theme($theme);
}
app-study-flashcard {
  @include study-flashcard.theme($theme);
}
/* You can add global styles to this file, and also import other style files */
app-view-fc-card {
  @include view-card.theme($theme);
}

html, body { height: 100%; }
body {
  margin: 0;
  background-color: mat.get-theme-color(theme.$ponder-light-theme, background);
  overflow-y: hidden;
}
h1 {
  font: mat.get-theme-typography(theme.$ponder-light-theme, headline-large);
  margin-top: 8px;
  margin-bottom: 8px;
}
p {
  font: mat.get-theme-typography(theme.$ponder-light-theme, body-medium);
}
