// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use 'assets/styles/theme.light';
@use 'app/app.component';
@use 'app/navbar/navbar.component';
@use 'app/edit-create-study-set/edit-create-study-set.component';
@use 'app/custom-tabs/custom-tabs.component';
@use 'app/homepage/homepage.component';
@use 'app/viewstudyset/viewstudyset.component';
@use 'app/flashcard/flashcard.component';
@use 'app/sequence-card/sequence-card.component';
@use 'app/studybuttonmenu/studybuttonmenu.component';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
$Ponder-warn: mat.define-palette(mat.$red-palette);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
html {
  // this is sets all default Material Components to our color palette
  @include mat.all-component-themes(theme.$ponder-light-theme);

  // this sets our theme to our custom component designs
  @include app.theme(theme.$ponder-light-theme);
  @include navbar.theme(theme.$ponder-light-theme);
  @include edit-create-study-set.theme(theme.$ponder-light-theme);
  @include custom-tabs.theme(theme.$ponder-light-theme);
  @include homepage.theme(theme.$ponder-light-theme);
  @include viewstudyset.theme(theme.$ponder-light-theme);
  @include flashcard.theme(theme.$ponder-light-theme);
  @include sequence-card.theme(theme.$ponder-light-theme);
  @include studybuttonmenu.theme(theme.$ponder-light-theme);

}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  background-color: mat.get-theme-color(theme.$ponder-light-theme, background);
}
h1 {
  font: mat.get-theme-typography(theme.$ponder-light-theme, headline-large);
  line-height:0em;
}
