:root {
  --margin-small: 12px;
  --margin-medium: 16px;
  --margin-large: 32px;
  --margin-extra-large: 64px;
}

.outer-margin {
  margin: auto;
  margin-left: calc(var(--margin-large) + 2vw);
  margin-right: calc(var(--margin-large) + 2vw);
}
