@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

@mixin button($theme) {
  .button {
    height: 3em;
    color: mat.get-theme-color($theme, on-primary);
    background-color: mat.get-theme-color($theme, primary);;
    border-radius: 50px;
    align-self: center;
    font-family: var(--mdc-filled-button-label-text-font);
    font-size: var(--mdc-filled-button-label-text-size);
    letter-spacing: var(--mdc-filled-button-label-text-tracking);
    font-weight: var(--mdc-filled-button-label-text-weight);
    -webkit-font-smoothing: unset;
  }
}

@mixin view-button($theme) {
  .view-button {
    color:mat.get-theme-color($theme,primary);
    margin-left: 16px;
  }
}
