.prev-card-list {
  padding-top: var(--padding-extra-small);
}

.list-item {
  padding-top: var(--padding-extra-small);
  padding-bottom: var(--padding-extra-small);
  padding-left: var(--padding-small);
  padding-right: var(--padding-small);
  display: grid;
  grid-template-columns: min-content auto;
  text-align: right;
  column-gap: 8px;
}

.format-text {
  margin:auto;
  width: fit-content;
}

#definition-textbox {
  width: 100%;
  height: 60%;
}

#term-textbox {
  width: 100%;
}
