.prev-card-list {
  padding-top: var(--padding-extra-small);
}

.list-item {
  padding-top: var(--padding-extra-small);
  padding-bottom: var(--padding-extra-small);
  padding-left: var(--padding-small);
  padding-right: var(--padding-small);
  display: grid;
  grid-template-columns: min-content auto;
  text-align: right;
  column-gap: 8px;
}

.format-text {
  width: fit-content;
  align-self: center;
}

#definition-textbox {
  width: 100%;
  flex-grow: 1;
}

#term-textbox {
  width: 100%;
}

#card-count {
  text-align: center;
  margin-bottom: 16px;
}

#add-button {
  position: fixed;
  bottom:12px;
  right:calc(50% + 24px);
  mat-icon {
    margin-right: 0;
  }
}

#delete-button {
  position: absolute;
  bottom: 12px;
  left: 50px;
  mat-icon {
    margin-right: 0;
  }
}
