<div class = "flashcards-content">
  <div class="flashcard-tab-left">
    <div cdkDropList class="prev-card-list" (cdkDropListDropped)="drop($event)">
      @for (flashcard of flashcards; track flashcards) {
        <div class="list-item">
          <ec-card-preview [flashcard]="flashcard" cdkDrag></ec-card-preview>
        </div>
      }
    </div>
    <button mat-fab  extended class="add-button ">+ Add Card</button>
  </div>

  <div class="flashcard-tab-right">
    <div class="format-text">
      <mat-icon>format_bold</mat-icon>
      <mat-icon>format_italic</mat-icon>
      <mat-icon>format_underline</mat-icon>
    </div>
    Term:
    <mat-form-field class = "term-textbox">
      <mat-label>Term</mat-label>
      <input matInput type="text" [(ngModel)]="selected.term">
    </mat-form-field>
    Definition:
    <mat-form-field class = "definition-textbox">
      <mat-label>Definition</mat-label>
      <input matInput type="text" [(ngModel)]="selected.definition">
    </mat-form-field>
  </div>
</div>
