<div class = "flashcards-content">
  <div class="flashcard-tab-left" cdkScrollable>
    <div cdkDropList class="prev-card-list" (cdkDropListDropped)="drop($event)" [cdkDropListAutoScrollStep]="10">
      @for (flashcard of flashcards; track flashcards; let i = $index) {
        <div class="list-item" [ngClass] = "{'selected-list-item': flashcard == selectedCard && highlight}">
          {{i + 1}}.
          <div cdkDrag (click)="onPreviewSelect(flashcard, i)" (cdkDragStarted)="drag(flashcard, i)">
            <ec-card-preview [flashcard]="flashcard"></ec-card-preview>
          </div>
        </div>
      }
    </div>
    <button mat-fab  extended id="add-button" class="button" (click)="addCard()">
      <mat-icon>add</mat-icon>
      Add Card
    </button>
  </div>
  <div id="flashcard-tab-right">
    Term:
    <mat-form-field id="term-textbox">
      <input matInput
        type="text"
        placeholder="Term"
        [(ngModel)]="selectedCard.term"
        [maxlength]="28">
    </mat-form-field>
    Definition:

    <div id="wordCountContainer"></div>
    <div id="editor"></div>
    <div id="def-space">
      <div #ckeditor></div>
      <div id="definition-textbox" [style.width]="selectedCard.hasImage()? '49%' : '100%'">
        <ckeditor
        [(ngModel)]="selectedCard.definition"
        [editor]="Editor"
        [config]="editorConfig"
        >
        </ckeditor>
        {{removeHTMLTags(selectedCard.definition).length}} / {{selectedCard.hasImage()? maxTextImage : maxText}}
      </div>
      <div id="image-area" *ngIf="selectedCard.hasImage()" (mouseenter)="hoverImage=true" (mouseleave)="hoverImage=false">
        <button mat-icon-button id="delete-image" *ngIf="hoverImage" (click)="removeImage()">
          <mat-icon>delete-outline</mat-icon>
        </button>
        <img id="image-preview"  src={{imageService.loadImage(selectedCard.image)}}>
      </div>
    </div>
    <div class="format-text">
      <button class="picture-button" *ngIf="!selectedCard.hasImage()" mat-icon-button (click)="uploadImage()">
        <mat-icon>add_photo_alternate</mat-icon>
      </button>
    </div>
    <div id="card-count">{{selectedIndex + 1}} of {{flashcards.length}}</div>
    <button mat-fab extended id="delete-button" class="button" (click)="removeCard(this.selectedCard)">
      <mat-icon>remove</mat-icon>
      Delete Card
    </button>
  </div>
</div>
