@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

@mixin theme($theme) {
  .tabs-header {
    display: flex;
    border: 1px solid mat.get-theme-color($theme,outline);
    border-radius:24px;
    margin: 0 5% 0 5%;
  }

  .active {
    border: 1px solid mat.get-theme-color($theme,outline);
    color: mat.get-theme-color($theme,on-primary);
    background-color: mat.get-theme-color($theme,primary);
    border-radius:24px;
  }

  .tab-label {
    font: mat.get-theme-typography($theme,label-large);
    text-align: center;
    width: 100%;
    padding: 10px;
  }

  .backdrop {
    position: sticky;
    top: 0;
    background-color: mat.get-theme-color($theme, surface);
    z-index: 100;
    padding: 8px 0;
  }
}
